<body>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/login.css' %}">
<div class="header">
<img src="{{STATIC_URL}}polls/images/IITR.jpeg" alt="IITR" id="IITR">
<span id="h1">IMG Polls</span>
<img src="{{STATIC_URL}}polls/images/IMG.jpeg" alt="IMG" id="IMG">
</div>
<div class="body">
<h2 id="h2">Log In</h2>
<form action="{%url 'polls:verify_user'%}" method="post">
{% csrf_token %}
<table class="table">
<tr>
<td class="row">Username</td><td class="row"><input type="text" name="username" class="text_box"></td><br><br>
</tr>
<tr>
<td class="row">Password</td><td class="row"><input type="password" name="password" class="text_box"></td><br><br>
</tr>
</table>
<input type="submit" name="Submit" value=" Log In " class="button"></input>
</form>
<form action="{%url 'polls:call_signup'%}"method="post">
{%csrf_token%}
<p class="extra">Donot have an account?</p>
<input type="submit" name="Submit" value=" Sign Up " class="button" id="login"></input>
</form>
</div>
</body>