<form>
<table>
<tr>
<td>Username</td><td><input type="text" name="username"></td><br><br>
</tr>
<tr>
<td>Password</td> <td><input type="password" name="password"></td><br><br>
</tr>
<tr>
<td>Email</td><td><input type="email" name="email"></td><br><br>
</tr>
<tr>
<td>First Name</td><td><input type="text" name="firstname"></td><br><br>
</tr>
<tr>
<td>Last Name</td><td><input type="text" name="lastname"></td><br><br>
</tr>
</table>
<button class="button" value="Sign Up" name="signup" onclick="">Sign Up</button>&nbsp
<button class="button" value="Log In" name="login" onclick="">Log In</button>
</form>


